@charset 'UTF-8';
@import "./usage/core/reset";
@import './index';
@import './common';
@import './home';
@import './user';
@import './search';
@import './list';


$base-color: blue;
body {
  background: $base-color;
}
.yo-header-h{
    .title{
        overflow:hidden;
        height: 0.25rem;
        width: 2.2rem;
        margin-top: 0.14rem;
        border-radius: 0.10rem;
        background: #fff;
        img{
            float: left;
            width: 0.18rem;
            height: 0.21rem;
            margin-left: 0.05rem;
            margin-top: 0.03rem;
        }
    }
    .regret{
        img{
            width: 0.42rem;
            height: 0.29rem;
        }         
    }
    .affirm{
        img{
            width: 0.22rem;
            height: 0.14rem;
        }
    }
}

.yo-header-h{
    .title{
        overflow:hidden;
        height: 0.25rem;
        width: 2.2rem;
        margin-top:0.14rem;
        border-radius: 0.1rem;
        background: #fff;
        img{
            float: left;
            width: 0.18rem;
            height: 0.21rem;
            margin-left: 0.05rem;
            margin-top: 0.03rem;
        }
    }
    .regret{
        img{
            width: 0.42rem;
            height: 0.29rem;
        }         
    }
    .affirm{
        img{
            width: 0.22rem;
            height: 0.14rem;
        }
    }
}

