.cart{
    height:100%;
    width:100%;
    background:#ebebeb;
    position:relative;
    .cart_header{
        height:0.3rem;
        position:relative;
        background:#fff;
        
        button{
            font-size:.14rem;
            width:.6rem;
            height:.25rem;
            position:absolute;
            right:0.15rem;
            top:.2rem;
            border-radius:0.02rem;
            border:none;
            background:coral;
        }
        p{
            width:100%;
            margin-top:0.1rem;
            color:#ff0000;
            font-size:.14rem;
            text-align:center;
        }
    }
    .cart_main{
        .pacecart{
             margin-top:1rem;
            width:100%;
            text-align:center;
            img{
                display:block;
                margin:0 auto;
                width:.8rem;
                height:.8rem;
            }
            p{
                height:0.5rem;
                line-height:0.5rem;
                font-size:0.16rem;
            }
            a{
                margin-right:0.25rem;
                margin-left:0.25rem;
                color: #333; 
                button{
                    &.last{
                        background:Orange;
                    }
                    border-radius:0.05rem;
                    width:1rem;
                    height:0.36rem;
                }
            }
        }
        .list_header{
            height:0.1rem;
            border-top:1px solid #e7e7e7;
            border-bottom:1px solid #e7e7e7;
            background:#fff;
            width:100%;
        }
        .cart_list{
            padding-top:0.05rem;
            @include flexbox();
            @include align-content(center);
            @include justify-content(center);
            font-size:0.1rem;
            background-color: #f5f2f2;
            .cart_gou{
                width:0.3rem;
                div{
                    width:0.2rem;
                    height:0.2rem;
                    border-radius:100%;
                    border:1px solid #dcdcdc;
                    background:#fff;
                    margin-left:0.05rem;
                     margin-right:0.03rem;
                    margin-top:0.3rem;
                }
            }
            img{
                width:0.7rem;
                height:0.8rem;
                margin-right:0.05rem;
            }
            .cart_menu{
                width:2rem;
                p{
                    width:1.9rem;
                }
                input{
                    width:0.44rem;
                    height:0.21rem;
                }
                g{
                    color: Gray;
                    height: 0.25rem;
                    line-height:0.25rem;
                    display:block;
                }
                i{
                    float:right;
                    span{
                        color:red;
                    }
                }
            }
        }
        
    }
    .cart_add{
        position:fixed;
        bottom:0.5rem;
        height:0.44rem;
        background:#000;
        width:100%;
        @include flexbox();
        @include align-content(center);
        @include justify-content(center);
        .cart_gou{
                width:0.3rem;
                margin:0.11rem 0.1rem;
                div{
                    width:0.2rem;
                    height:0.2rem;
                    border-radius:100%;
                    border:1px solid #dcdcdc;
                    background:#fff;
               }
        }
        span{
            @include flex(1);
            color:#fff;
            line-height:0.44rem;
            i{
                color:coral;
            }
        }
        button{
             width:0.8rem;
             margin-right:0.1rem;
             border-radius:0.05rem;
             height:0.3rem;
             background:coral; 
             border:none;
             margin-top:0.07rem; 
             color:#fff;
        }
    }
    .nni{
        display:none;
    }
    .ani{
        height:2rem;
        position:fixed;
        width:90%;
        z-index:1000;
        left:5%;
        bottom:0.1rem;
        background:#fff;
        border-top-left-radius:0.1rem;
        border-top-right-radius:0.1rem;
        .aniup{
            height:0.4rem;
            border-top-left-radius:0.1rem;
            border-top-right-radius:0.1rem;
            border-bottom:1px solid #D1D1D1;
            line-height:0.4rem;
            padding-left:0.05rem;
            img{
                width:0.2rem;
                float:right;
                margin-top:0.05rem;
                margin-right:0.05rem;
            }
        }
        .anicenter{
            height:1.2rem;
            @include flexbox();
            color:#000;
            @include align-content(center);
            @include justify-content(center);
            span{
                color:#fff;
                display:block;
                margin:0.5rem 0.2rem;
                width:0.2rem;
                height:0.2rem;
                background:#000;
                line-height:0.2rem;
                text-align:center;
                font-size:0.2rem;
            }
            input{
                margin-top:0.47rem;
                height:0.26rem;
                width:0.7rem;
                text-align:center;
            }
        }
        .anidown{
            height:0.4rem;
            background:#000;
            @include flexbox();
            @include align-content(center);
            @include justify-content(space-between);
            color:#eee;
            line-height:0.4rem;
            padding:0 0.1rem;
        }
    }
        
}
.cart_gohome{
            position:absolute;
            top:0.03rem;
            width:0.3rem;
            height:0.3rem;
            text-align:center;
            line-height:0.28rem;
            border-radius:0.3rem;
            background:#e7e7e7;
            .yo-ico{
                font-size:0.18rem;
                color:#fff;
                padding:0.02rem 0.01rem;
                background:#999;
                border-radius:0.2rem;
            }
        }