#root{
    height:100%;
    width:100%;
     background:#fff;
}
@import "./usage/fragment/yo-header";
@font-face {
  font-family: yofont;
  src: url(/iconfont/iconfont.woff) format("woff"), url(/iconfont/iconfont.ttf) format("truetype"); 
}
@font-face {
  font-family: yofont;
  src: url(/iconfont/detail_iconfont.woff) format("woff"), url(/iconfont/detail_iconfont.ttf) format("truetype"); 
}
@font-face {
  font-family: yofont;
  src: url(/iconfont/iconfont_share.woff) format("woff"), url(/iconfont/iconfont_share.ttf) format("truetype"); 
}