#root{
    height:100%;
    width:100%;
}
@import "./usage/fragment/yo-header";
@font-face {
  font-family: yofont;
  src: url(/iconfont/iconfont.woff) format("woff"),
   url(/iconfont/iconfont.ttf) format("truetype");
}
@font-face {
  font-family: yofont;
  src: url(/iconfont/iconfontuser.woff) format("woff"),
   url(/iconfont/iconfontuser.ttf) format("truetype");
}
a{
    color: #000;
    font-size: 14px;
}

