.home{
    .swiper{
        height:1.9rem;
        background:#fff;
    }
    ul{
        margin:.2rem;
        li{
            .homelist{
                margin:.1rem 0;
                height:1rem;
                background:#fff;
            }
        }
    }
}
