.clickcolor{
    color:#FFB90F
}
.accountDetail{
    width:100%;
    height:0.4rem;
    background: #fff;
    a{
        display: inline-block;
        width:50%;
        height:100%;
        text-align:center;
        line-height:0.4rem;
    }
}
._account{
    width: 100%;
    height: auto;
    p{
        width:100%;
        height: 0.3rem;
        background:lightgrey;
        color: darkgray;
        text-align: center;
        line-height: 0.3rem;
     }
}